# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [94]:
dataframe.groupby('Major Genre').sum().sort_values(by = 'US Gross', ascending=False).index[0]

'Comedy'

### Qual o diretor dirigiu mais filmes?

In [95]:
dataframe.groupby('Director').count().sort_values(by='Title', ascending= False).index[0]

'Steven Spielberg'

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [194]:
df = pd.DataFrame(dataframe.loc[(dataframe['US Gross'] / dataframe['Production Budget']).sort_values(ascending=False).index[:10], 'Title'])
df.index = {'1º','2º','3º','4º','5º','6º','7º','8º','9º','10º'}

In [195]:
df

                           Title
1º           Paranormal Activity
8º                     Tarnation
5º                   Deep Throat
9º         The Brothers McMullen
3º                   El Mariachi
2º       The Blair Witch Project
7º   The Texas Chainsaw Massacre
10º                Super Size Me
6º             My Date With Drew
4º             American Graffiti